<nav>
  <ul class="branch-nav">
  {%- assign current_branch = page.dir -%}
  {%- assign current_dir_segments = current_branch | split: '/' -%}
  {%- assign excluded = 'about.html,feed.xml,404.html' | split: ',' -%}
  {%- assign accepted = 'index.md,index.html' | split: ',' -%}
  {%- for otherPage in site.html_pages -%}
    {%- if excluded contains otherPage.name -%}
      {%- continue -%}
    {%- endif -%}
    {%- unless accepted contains otherPage.name -%}
      {%- continue -%}
    {%- endunless -%}

    {%- assign other_dir_segments = otherPage.dir | split: '/' -%}

    {%- if other_dir_segments.size > current_dir_segments.size -%}
      {%- assign is_subdir = true -%}
      {%- assign limit = current_dir_segments.size | minus: 1 -%}
      {%- for i in (0..limit) -%}
        {%- if other_dir_segments[i] != current_dir_segments[i] -%}
          {%- assign is_subdir = false -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    {%- else -%}
      {%- assign is_subdir = false -%}
    {%- endif -%}

    {%- assign size_diff = other_dir_segments.size | minus: current_dir_segments.size -%}
    {%- if is_subdir and size_diff == 1 -%}
      <li class="branch-item">
        <a href="{{ otherPage.url | relative_url }}">{{ otherPage.title | default: otherPage.slug }}</a>
      </li>
    {%- endif -%}
  {%- endfor -%}

  </ul>
</nav>