---

---

<footer>
    <!-- Authorship -->
    <p>{{ site.title }}</p>
    <!-- Copyright -->
    <p>Copyright © Taush Sampley 2019-2025</p>
    <!-- Contact Info -->
    <!-- SiteMap -->
     <nav id='site-map'>
        <ul>
            <li><a href='/math/'>Math</a></li>
            <li>
                <li><a href='/science/'>Math</a></li>
                <ul>
                    <li><a href='/science/physics/'>Physics</a></li>
                    <li><a href='/science/chemistry/'>Chemistry</a></li>
                </ul>
            </li>
        </ul>
        
     </nav>
    <!-- Related Pages -->
    
</footer>