
<link rel="stylesheet" href="/assets/css/chemistry.css">
<script type="module" src="/science/chemistry/periodic-table.mjs"></script>
<table class='ptable'>
    <caption id='ptable-caption'></caption>
    <tr class='ptable-row'>
        <td class='ptable-element' id="ptable-hydrogen">Hydrogen
        </td>
        <td class='ptable-gap' colspan=16></td>
        <td class='ptable-element' id="ptable-helium">Helium
        </td>
    </tr>
    <tr class='ptable-row'>
        <td class='ptable-element' id="ptable-lithium">Lithium
        </td>
        <td class='ptable-element' id="ptable-beryllium">Beryllium
        </td>
        <td class='ptable-gap' colspan=10></td>
        <td class='ptable-element' id="ptable-carbon">Boron
        </td>
        <td class='ptable-element' id="ptable-carbon">Carbon
        </td>
        <td class='ptable-element' id="ptable-nitrogen">Nitrogen
        </td>
        <td class='ptable-element' id="ptable-oxygen">Oxygen
        </td>
        <td class='ptable-element' id="ptable-oxygen">Fluorine
        </td>
        <td class='ptable-element' id="ptable-oxygen">Neon
        </td>
    </tr>
    <tr class='ptable-row'>
        <td class='ptable-element' id="ptable-sodium">Sodium
        </td>
        <td class='ptable-element' id="ptable-magnesium">Magnesium
        </td>
        <td class='ptable-gap' colspan=10></td>
        <td class='ptable-element' id="ptable-aluminium">Aluminium
        </td>
        <td class='ptable-element' id="ptable-silicon">Silicon
        </td>
        <td class='ptable-element' id="ptable-phosphorous">Phosphorous
        </td>
        <td class='ptable-element' id="ptable-sulfur">Sulfur
        </td>
        <td class='ptable-element' id="ptable-chlorine">Chlorine
        </td>
        <td class='ptable-element' id="ptable-argon">Argon
        </td>
    </tr>
    <tr class='ptable-row'>
        <td class='ptable-element' id="ptable-potassium">Potassium
        </td>
        <td class='ptable-element' id="ptable-calcium">Calcium
        </td>
        <td class='ptable-element' id="ptable-scandium">Scandium
        </td>
        <td class='ptable-element' id="ptable-titanium">Titanium
        </td>
        <td class='ptable-element' id="ptable-vanadium">Vanadium
        </td>
        <td class='ptable-element' id="ptable-chromium">Chromium
        </td>
        <td class='ptable-element' id="ptable-manganese">Manganese
        </td>
        <td class='ptable-element' id="ptable-iron">Iron
        </td>
        <td class='ptable-element' id="ptable-cobalt">Cobalt
        </td>
        <td class='ptable-element' id="ptable-nickel">Nickel
        </td>
        <td class='ptable-element' id="ptable-copper">Copper
        </td>
        <td class='ptable-element' id="ptable-zinc">Zinc
        </td>
        <td class='ptable-element' id="ptable-gallium">Gallium
        </td>
        <td class='ptable-element' id="ptable-germanium">Germanium
        </td>
        <td class='ptable-element' id="ptable-arsenic">Arsenic
        </td>
        <td class='ptable-element' id="ptable-selenium">Selenium
        </td>
        <td class='ptable-element' id="ptable-bromine">Bromine
        </td>
        <td class='ptable-element' id="ptable-krypton">Krypton
        </td>
    </tr>
</table>
