
<table>
    <tr>
        <td>
        <button id="sim-hydrogen">Hydrogen</button>
        </td>
        <td colspan=16></td>
        <td>
        <button id="sim-helium">Helium</button>
        </td>
    </tr>
    <tr>
        <td>
        <button id="sim-lithium">Lithium</button>
        </td>
        <td>
        <button id="sim-beryllium">Beryllium</button>
        </td>
        <td colspan=10></td>
        <td>
        <button id="sim-carbon">Boron</button>
        </td>
        <td>
        <button id="sim-carbon">Carbon</button>
        </td>
        <td>
        <button id="sim-nitrogen">Nitrogen</button>
        </td>
        <td>
        <button id="sim-oxygen">Oxygen</button>
        </td>
        <td>
        <button id="sim-oxygen">Fluorine</button>
        </td>
        <td>
        <button id="sim-oxygen">Neon</button>
        </td>
    </tr>
    <tr>
        <td>
        <button id="sim-sodium">Sodium</button>
        </td>
        <td>
        <button id="sim-magnesium">Magnesium</button>
        </td>
        <td colspan=10></td>
        <td>
        <button id="sim-aluminium">Aluminium</button>
        </td>
        <td>
        <button id="sim-silicon">Silicon</button>
        </td>
        <td>
        <button id="sim-phosphorous">Phosphorous</button>
        </td>
        <td>
        <button id="sim-sulfur">Sulfur</button>
        </td>
        <td>
        <button id="sim-chlorine">Chlorine</button>
        </td>
        <td>
        <button id="sim-argon">Argon</button>
        </td>
    </tr>
</table>