<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{{ page.date | date: date_format }}
</time>
{%- if page.author -%}
• <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
{%- endif -%}</p>
{%- if page.updated -%}
Last updated 
<span itemprop="updated" class="p-updated h-card"></span>
<time class="dt-updated" datetime="{{ page.updated | date_to_xmlschema }}" itemprop="dateUpdated">
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {{ page.updated | date: date_format }}
</time>
{%- endif -%}
