
@import 'colors';

a {
    color: #2a7ae2;
    text-decoration: none
}

a:visited {
    color: rgb(22.9483471074, 86.2541322314, 168.5516528926)
}

a:hover {
    color: #111;
    text-decoration: underline
}
