
.wiki-header {
    margin-bottom: 30px
}

.wiki-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 15px
}

@media screen and (max-width: 800px) {
    .wiki-title {
        font-size: 36px
    }
}

.wiki-meta {
    font-size: 14px;
    color: #828282;
    margin-bottom: 15px
}

.wiki-list-heading {
    font-size: 28px
}

.wiki-list {
    margin-left: 0;
    list-style: none
}

.wiki-list>li {
    margin-bottom: 30px
}

.wiki-meta {
    font-size: 14px;
    color: #828282
}

.wiki-link {
    display: block;
    font-size: 24px
}

.wiki-content {
    margin-bottom: 30px
}

.wiki-content h2 {
    font-size: 32px
}

@media screen and (max-width: 800px) {
    .wiki-content h2 {
        font-size: 28px
    }
}

.wiki-content h3 {
    font-size: 26px
}

@media screen and (max-width: 800px) {
    .wiki-content h3 {
        font-size: 22px
    }
}

.wiki-content h4 {
    font-size: 20px
}

@media screen and (max-width: 800px) {
    .wiki-content h4 {
        font-size: 18px
    }
}
