
@use 'nav';

@use 'footer';
@use 'page';

@use 'highlight';

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0
}

body {
    font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
    margin-bottom: 15px
}

main {
    display: block
}

img {
    max-width: 100%;
    vertical-align: middle
}

figure>img {
    display: block
}

figcaption {
    font-size: 14px
}

ul,
ol {
    margin-left: 30px
}

li>ul,
li>ol {
    margin-bottom: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}

a {
    color: #2a7ae2;
    text-decoration: none
}

a:visited {
    color: rgb(22.9483471074, 86.2541322314, 168.5516528926)
}

a:hover {
    color: #111;
    text-decoration: underline
}

.social-media-list a:hover {
    text-decoration: none
}

.social-media-list a:hover .username {
    text-decoration: underline
}

blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic
}

blockquote>:last-child {
    margin-bottom: 0
}

pre,
code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef
}

code {
    padding: 1px 5px
}

pre {
    padding: 8px 12px;
    overflow-x: auto
}

pre>code {
    border: 0;
    padding-right: 0;
    padding-left: 0
}

.wrapper {
    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - 30px*2);
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(800px - (30px));
        max-width: calc(800px - (30px));
        padding-right: 15px;
        padding-left: 15px
    }
}

.footer-col-wrapper:after,
.wrapper:after {
    content: "";
    display: table;
    clear: both
}

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #828282;
    padding-right: 5px;
    vertical-align: text-top
}

.social-media-list li+li {
    padding-top: 5px
}

table {
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
    color: rgb(62.9, 62.9, 62.9);
    border-collapse: collapse;
    border: 1px solid #e8e8e8
}

table tr:nth-child(even) {
    background-color: rgb(247.3, 247.3, 247.3)
}

table th,
table td {
    padding: 9.999999999px 15px
}

table th {
    background-color: hsl(0, 0%, 93.9803921569%);
    border: 1px solid rgb(221.8, 221.8, 221.8);
    border-bottom-color: rgb(201.4, 201.4, 201.4)
}

table td {
    border: 1px solid #e8e8e8
}

.site-header {
    border-top: 5px solid rgb(66.25, 66.25, 66.25);
    border-bottom: 1px solid #e8e8e8;
    min-height: 55.95px;
    position: relative
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left
}

.site-title,
.site-title:visited {
    color: rgb(66.25, 66.25, 66.25)
}


.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0
}
