


:root {
  color-scheme: light dark;
  
  $grass-url: '/assets/img/patterns/grass.jpg';
  --image-url: url($grass-url); // TODO: create night asset

  --black: rgba(0, 0, 0);
  --soft-black: rgb(16, 16, 16)
  --soft-white: rgb(252, 252, 252)
  --white: rgb(255, 255, 255);

  --gradient-start: var(--black);
  --gradient-end: var(--white);

  --gradient-end: var(--white);
  --bar-gradient: linear-gradient(120deg, var(--gradient-start), var(--gradient-end));

  --shadow: var(--black);
  --radial-border: radial-gradient(--gradient-start, --gradient-end);

  --surface: light-dark(var(--soft-white), var(--soft-black));
  --on-surface: light-dark(var(--soft-white), var(--soft-white));

  --primary: light-dark(rgb(11, 168, 0), rgb(11, 168, 0));
  --primary-light: light-dark(rgb(111, 202, 104), rgb(13, 188, 1));
  --primary-dark: light-dark(rgb(37, 118, 31), rgb(9, 133, 0));

  --secondary: light-dark(rgb(140, 104, 45), rgb(117, 83, 30));
  --secondary-light: light-dark(rgb(189, 148, 83), rgb(146, 105, 38));
  --secondary-dark: light-dark(rgb(100, 82, 53), rgb(82, 58, 19));

  --tertiary: light-dark(rgb(146, 0, 0), rgb(123, 1, 1));
  --tertiary-light: light-dark(rgb(179, 39, 39), rgb(176, 46, 46));
  --tertiary-dark: light-dark(rgb(96, 21, 21), rgb(87, 1, 1));

  --link: #1557ad;
  --link-open: #6917a8;
}
