
.wiki-header {
    margin-bottom: 30px
}

.wiki-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 15px
}

.wiki-content {
    margin-bottom: 30px
}

.wiki-meta {
    font-size: 14px;
    color: #828282;
    margin-bottom: 15px
}
