---
---

@import 'base';
@import 'base-wiki';

$radial-background: radial-gradient(var(--gradient-start), var(--gradient-end), 0.9);

.app-background {
  background: $radial-background;
}

.container {
  background: var(--bar-gradient);
}
