---
---

.ptable {
    border-spacing: 2px;
}

.ptable-gap {

}

.ptable .ptable-dt .ptable-row {
    
}



th.ptable td.ptable {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

