---
---

@use './default.scss';

.demo-box {
    background: grey;

    &-active {

        background: black;
    }
}

canvas {
    background: black;
}

@media screen and (max-width: 600px) {
    
}

@media screen and (min-width: 600px) and (max-width: 840px) {

}

@media screen and (min-width: 840px) and (max-width: 1200px) {

}

@media screen and (min-width: 1200px) and (max-width: 1600px) {

}

@media screen and (min-width: 1600px) {

}

@media screen and (max-height: 480px) {

}

@media screen and (min-height: 480px) and (max-height: 900px) {

}

@media screen and (min-height: 900px) {

}
