---
---

@import "minima";

.container {
  position: relative;
}

.controls-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.60
}

.controls-container {
  display: flex;
  flex-direction: column;
}

.controls-container > input[type='range'] {
  margin: 0px 10px;
}

.demo-view {
  border: 2px solid black;
}

img {
    max-width: 100%;
    vertical-align: middle
}

figure {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

figure>img {
    display: block;
}

figcaption {
    font-size: 14px;
}

embed[type="text/javascript"] {
  border: 1px solid black;
}

canvas {
  font-size: 24px;
}