---
---

@import "minima";

.container {
  position: relative;
}

.controls-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.60
}

.controls-container {
  display: flex;
  flex-direction: column;
}

input[type='range'] {
  margin: 0px 10px;
}

label:hover {
  background-color: yellow;
}

.demo-view {
  border: 2px solid black;
}
